
</head>
<body>
    <!-- header -->
    <header class="m-header fixed-top">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md fixed-top m-navbar">

            <a href="#" class="navbar-brand m-brand" ><img src="/images/newLogo.jpg" width="50px" height="35px"></a>
            <button type="button" class="navbar-toggler bg-danger" data-toggle="collapse" data-target="#nv" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="nv">
                <ul class="navbar-nav text-dark m-nav-ul">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-btn px-4">MEN</a>
                        <div class="dropdown-content container-fluid" >
                            <div class="row justify-content-between">
                                <div class="d-aul col-4">
                                    <a href="#">Top Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">T-Shirt</a></li>
                                        <li><a href="#">Shirt</a></li>
                                        <li><a href="#">Sweaters</a></li>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Sweat-Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">Bottom Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Trousers</a></li>
                                        <li><a href="#">Shorts</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">FootWear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Casual Shoes</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Formals</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                            
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-btn px-4">WOMEN</a>
                        <div class="dropdown-content container">
                            <div class="row">
                                <div class="d-aul col-4">
                                    <a href="#">Western</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Tops/Shirt/T-Shirt</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Jackets/Coats</a></li>
                                        <li><a href="#">Shrugs</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">Indian</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Kurtis</a></li>
                                        <li><a href="#">Lehenga</a></li>
                                        <li><a href="#">Saree</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">Foot Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Casuals</a></li>
                                        <li><a href="#">Heels</a></li>
                                        <li><a href="#">Boots</a></li>
                                        <li><a href="#">Flats</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link dropdown-btn px-4">KIDS</a>
                        <div class="dropdown-content container" >
                            <div class="row justify-content-between" >
                                <div class="d-aul col-4">
                                    <a href="#">Boys Clothing</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">T-Shirts</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">Boys Footwear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Casuals</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Sandals</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">Girls Clothing</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Tops</a></li>
                                        <li><a href="#">T-shirts</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Capris</a></li>
                                        <li><a href="#">Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#">Girls Footwear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="#">Casuals</a></li>
                                        <li><a href="#">Heels</a></li>
                                        <li><a href="#">Flip-Flops</a></li>
                                        <li><a href="#">Flats</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                <form action="#" method="post" class="m-nav-form form-inline ml-4 mb-2">
                    <button type="submit" class="btn text-muted m-nav-form-btn"><i class="fa fa-search text-muted"></i></button>
                    <input class="m-nav-input " type="text" name="search" placeholder="Search for products, brands and more">
                </form>
                <div>
            

                <ul class="navbar-nav text-dark mr-5">
                    <li class="nav-item mx-2 dropdown px-3 " >
                        <a href="#" class="m-nav-link dropdown-btn">
                            <img src="/images/profile.png" alt="img" width="15px" height="18px"> <br>
                            Profile
                        </a>
                        <div class="dropdown-content container">
                            <div class="row">
                                <div class="prof col-12">
                                    <a href="#">Login</a>
                                    <a href="#">Sign Up</a>
                                    
                                    <ul class="dc-ul" >
                                        <li><a href="#">Orders</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">Bag</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="#" class="m-nav-link">
                            <img src="/images/wishlist.png" alt="img" width="15px" height="18px"> <br>
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="#" class="m-nav-link">
                            <img src="/images/bag.png" alt="img" width="15px" height="18px"> <br>
                            Bag
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
    </header>
    <!-- end of header -->
    

