
</head>
<body>
    <!-- header -->
    <header class="m-header fixed-top">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md fixed-top m-navbar">

            <a href="/corporate/corporate-console" class="navbar-brand m-brand" ><img src="/images/newLogo.jpg" width="50px" height="35px"></a>
            <button type="button" class="navbar-toggler bg-danger" data-toggle="collapse" data-target="#nv" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="nv">
                <ul class="navbar-nav text-dark m-nav-ul">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-btn px-4">Product Utilities</a>
                        <div class="dropdown-content container-fluid" >
                            <div class="row justify-content-between">
                                <div class="d-aul col-6">
                                    <a href="/corporate/new-requests">New Product Requests</a>
                                </div>
                                <div class="d-aul col-6">
                                    <a href="/corporate/accepted-requests">Accepted Requests</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-btn px-4">Final Product Utilities</a>
                        <div class="dropdown-content container-fluid" >
                            <div class="row justify-content-between">
                                <div class="d-aul col-6">
                                    <a href="/corporate/finalize-product">Finalize Product</a>
                                </div>
                                <div class="d-aul col-6">
                                    <a href="/corporate/edit-products">Edit Previous Products</a>
                                </div>
                                <div class="d-aul col-6">
                                    <a href="/corporate/history">History</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                <!-- <form action="#" method="post" class="m-nav-form form-inline ml-4 mb-2">
                    <button type="submit" class="btn text-muted m-nav-form-btn"><i class="fa fa-search text-muted"></i></button>
                    <input class="m-nav-input " type="text" name="search" placeholder="Search for products, brands and more">
                </form> -->
                <div>
            

                <ul class="navbar-nav text-dark mr-3">
                    <li class="nav-item mx-2 dropdownPF px-3 " >
                        <a href="#" class="m-nav-link dropdown-btnPF">
                            <img src="/images/profile.png" alt="img" width="15px" height="18px"> <br>
                            Profile
                        </a>
                        <div class="dropdown-contentPF" style="width: 300px;">
                            <!-- <div class="row">
                                <div class=" col-4"> -->
                                    <% if (isAuth) { %>
                                        <p>Hi, <span style="font-weight: 500;"><%= userName %></span></p>
                                        <a href="/auth/logout">Logout</a>
                                    <% } else { %>
                                        <a href="/auth/corporate-login">Login</a>
                                        <span>/</span>
                                        <a href="/auth/corporate-signUp">Sign Up</a> <br>
                                    <% } %>
                                    
                                    <!-- <ul class="dc-ul" >
                                        <li><a href="#">Orders</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">Bag</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                    </ul> -->
                                <!-- </div>
                                <div class="col-4">

                                </div>
                                <div class="col-4">

                                </div>
                            </div> -->
                        </div>
                    </li>
                    <!-- <li class="nav-item mx-2" >
                        <a href="#" class="m-nav-link">
                            <img src="/images/wishlist.png" alt="img" width="15px" height="18px"> <br>
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="#" class="m-nav-link">
                            <img src="/images/bag.png" alt="img" width="15px" height="18px"> <br>
                            Bag
                        </a>
                    </li> -->
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
    </header>
    <!-- end of header -->