<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="./css/footer.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px" >
        <p style="text-align: center;">Home Page is being rendered</p>
<%- include("./includes/end.ejs") %>