<%- include("./includes/head.ejs") %>

<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px" >
        <p style="text-align: center;">sfjkbvfkjb</p>
<%- include("./includes/end.ejs") %>