<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="./css/product.css">

<%- include("./includes/nav.ejs") %>

<!-- main div  -->
<div style="margin-top:92px" >
<div class="container-fluid" style="z-index:-2">
    <!-- upar wala green -->
    <div class="row">
        <div class="col-12"  style="height: 26px;width: 100%;background-color: rgb(52, 182, 106);">
        </div>
    </div>
    <!-- heading wala part -->
    <div class="row my-3 mx-2">
        <div class="col-12">
            <p class="small text-primary">Home / Clothing / Men Clothing / Shirts / Roadster Shirts > More By Roadster</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mx-2">
            <div class="col-7"> 
                <div class="row justify-content-between p-2">
                    <div class="col-6 p-2">
                        <img src="https://html5box.com/html5lightbox/images/mountain.jpg" width="100%" height="450px" alt="">
                    </div>
                    <div class="col-6 p-2">
                        <img src="https://html5box.com/html5lightbox/images/mountain.jpg" width="100%" height="450px" alt="">
                    </div>
                    <div class="col-6 p-2">
                        <img src="https://html5box.com/html5lightbox/images/mountain.jpg" width="100%" height="450px" alt="">
                    </div>
                    <div class="col-6 p-2">
                        <img src="https://html5box.com/html5lightbox/images/mountain.jpg" width="100%" height="450px" alt="">
                    </div>
                    <div class="col-6 p-2">
                        <img src="https://html5box.com/html5lightbox/images/mountain.jpg" width="100%" height="450px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-5 p-2">
                <p class="m-brand">Roadster</p>
                <p class="text-muted  text-lg m-desc">Men Black & Grey Checked Casual Shirt</p>
                <hr>
                <div class="ml-2">
                    <span class="m-price">Rs. 909</span>
                    <span class="m-del mx-3 text-muted"><del >Rs. 1299</del></span>
                    <span class="text-warning m-disc">( 30% OFF )</span>
                    <br>
                    <span class="m-tax ">inclusive of all taxes</span>
                    <h4 class="my-4" >SELECT SIZE</h4>
                    <button class="m-radio-btn" id="b1">38</button>
                    <button class="m-radio-btn" id="b2">40</button>
                    <button class="m-radio-btn" id="b3">42</button>
                    <button class="m-radio-btn" id="b4">44</button>
                    <br>
                    <div>
                        <button class="m-fnl-btn btn-lg btn"><i class="fa fa-shopping-bag pr-2" aria-hidden="true"></i> ADD TO BAG</button>
                        <button class="btn btn-lg m-fnl-btn"><i class="fa fa-bookmark pr-2"></i> WISHLIST</button>
                    </div>
                    <hr>
                    <div>
                        <h6 class="my-4" >PRODUCT DETAILS <i class="ml-2 fa fa-list-alt"></i> </h6>
                        <p style="max-width: auto;font-size: 15px;" class="text-muted">Black and grey checked casual shirt, has a spread collar,
                             a full button placket, long sleeves with roll-up tabs, a patch pocket, a curved hem</p>
                        <h6 class="mt-4">Material & Care</h6>
                        <div style="font-size: 15px;" >
                            <span class="text-muted" >Cotton</span> <br>
                            <span class="text-muted">Machine Wash</span>
                        </div>
                    </div>
                    <hr>
                    <div class="text-muted m-detail">
                        <p>100% Original Products </p>
                        <p>Free Delivery on order above Rs. 1199 </p>
                        <p>Pay on delivery might be available </p>
                        <p>Easy 30 days returns and exchanges </p>
                        <p>Try & Buy might be available </p>
                    </div>
                    <hr>
                    <h6 class="mt-4">Specifications</h6>
                        <div style="font-size: 15px;" >
                            <div class="row p-2">
                                <div class="col-6">
                                    <small style="color: burlywood;">Sleeve Length :</small> <br>
                                    <span class="text-muted">Long Sleeve</span>
                                    <hr>
                                </div>
                                <div class="col-6">
                                    <small style="color: burlywood;">Fit :</small> <br>
                                    <span class="text-muted"> Regular Fit</span>
                                    <hr>
                                </div>
                                <div class="col-6">
                                    <small style="color: burlywood;">Ocassion :</small> <br>
                                    <span class="text-muted">Casual</span>
                                    <hr>
                                </div>
                                <div class="col-6">
                                    <small style="color: burlywood;">Length :</small> <br>
                                    <span class="text-muted">Regular</span>
                                    <hr>
                                </div>
                                <div class="col-6">
                                    <small style="color: burlywood;">Print or Pattern :</small> <br>
                                    <span class="text-muted">Pattern</span>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p class="mt-4">Product Code : <span style="font-weight: 600;">2124555</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./includes/end.ejs") %>