.m-margin{
    border-right: 1px solid rgb(207, 207, 207);
}
.m-order-details p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(66, 62, 62);
    margin: 8px auto;
}
.m-order-details span,del{
    margin: auto 3px;
    float: right;
}
.m-btn{
    margin: 10px auto;
    width: 100% ;
    background-color: rgb(255, 79, 138);
    color: white;
}
.m-full-btn{
    padding: 10px;
    border: 1px solid rgb(207, 207, 207) ;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
}
.m-full-btn:hover{
    transform: translateY(-2px);
    transition: all 0.5s;
}
.m-img{
    padding: 4px;
    border-radius: 8px;
}
.m-style{
    padding: 16px;
}
.m-style h5{
    font-size: 14px;
}
.m-style p{
    font-size: 13px;
}
.m-style button{
    font-size: 13px;
    font-weight: 500;
    background-color: lavender;
    padding: 5px;
    margin-top: 12px;
    margin-right: 8px;
}
.m-off{
    font-size: 15px;
    color: lightcoral;
}
.m-dll{
    font-size: 15px ;
    color: rgb(124, 119, 119);
    text-decoration: line-through;
}
.m-btn-v{
    width: 100%;
    color: rgb(118, 118, 122) ;
}
.m-btn-v:hover{
    transform: translateY(-2px);
    transition: all 0.6s;
}
.m-in-finish{
    padding:14px;
    margin : 10px auto ;
}
.m-in-finish:hover{
    box-shadow: 1px 2px 15px rgb(196, 196, 196);
    border-radius: 5px;
}