<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="./css/bag.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 mt-5">
                    <div class="row">
                        <div class="col-8 m-margin">
                            <h6>My Shopping Bag <span class="float-right" >(X Items)</span></h6>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    <img class="m-img" src="https://lp2.hm.com/hmgoepprod?set=quality[79],source[/b3/49/b349d9e57192a24357906baa2ac8d29ef255eb98.jpg],origin[dam],category[men_tshirtstanks_shortsleeve],type[DESCRIPTIVESTILLLIFE],res[m],hmver[1]&call=url[file:/product/main]"
                                     width="100%" alt="img">
                                </div>
                                <div class="col-6 m-style">
                                    <h5>HANCOCK</h5>
                                    <p>Men Black SlimFit Tshirt</p>
                                    <button class="btn"> Size : 40</button>
                                    <button class="btn"> Qty : 2</button>
                                </div>
                                <div class="col-3 text-right m-style">
                                    <h5>Rs. 626</h5>
                                    <span class="m-dll">Rs.995</span>
                                    <span class="m-off"> 37% OFF </span>
                                </div>
                                <div class="col-4 m-margin">
                                    <button class="btn m-btn-v">REMOVE</button>
                                </div>
                                <div class="col-8">
                                    <button class="btn m-btn-v">MOVE TO WISHLIST</button>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                            </div>
                            <button class="btn m-full-btn mt-4"><img src="/images/wishlist.png" alt="img" width="15px" height="18px">
                                 Add More From Wishlist
                            </button>
                        </div>
                        <div class="col-4 m-order-details">
                            <hr>
                            <h6 class="mb-4">PRICE DETAILS</h6>
                            <p>Bag Total <span>Rs.995</span> </p>
                            <p>Bag Discount <span class="text-success">-Rs.265</span></p>
                            <p>Order Total <span>Rs.995</span></p>
                            <p>Delivery Charges <span class="text-success">FREE</span><del>Rs.995</del></p>
                            <hr class="mt-4">
                            <h5>Total <span>Rs.563</span></h5>
                            <button class="btn m-btn">PLACE ORDER</button>
                        </div>
                    </div>
                    <br>
                    <hr>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include("./includes/end.ejs") %>