<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="./css/footer.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        
        <!-- carousel -->
        <div class="row justify-content-center">
            <div class="col-11">
                <div id="carouselExampleIndicators" class="carousel slide"  data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/5/17/40da524e-1b0b-4b77-97a2-9657e332b2cf1589737176585-MANGO_Desk_Banner.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/5/17/e5356207-54ec-4d92-974d-d14db06faaaf1589737229777-Libas_Desk_Banner.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/h2a/ha3/16509501866014/18052020-D-WHP-BANNER1-P2-footwearaccessories-min50.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/h83/h5e/16440625659934/13052020-D-WHP-trends-p2-explorethestore.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                          <img class="d-block w-100" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/5/17/7809adfa-f5d7-41b4-9f17-d68d6edccb7d1589733944388-sports-shoes-dk.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                          <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/h81/h0b/16476136570910/15052020-D-IHP-banner2-newarrivals-min30.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/h2c/h26/16443366408222/11052020-D-MHP-trends-B2-explorethestore.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/h65/h01/16476138176542/15052020-D-IHP-mens-mainbanner.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/h1e/had/16491360911390/18052020-D-MHP-TopBanner-B2-StealOfTheDay-Footwear-min50.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/hae/hd7/16440630607902/11052020-D-WHP-Theresmore-kids.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://assets.ajio.com/medias/sys_master/images/images/hdb/h8e/16440282120222/11052020-D-KHP-Infants-MainBanner-MotherCare.jpg" alt="Third slide">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- checking -->
        
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-6">
                    <img src="https://assets.ajio.com/medias/sys_master/images/images/h0a/h0f/16511193088030/18052020-D-KHP-Banner1-P3-topbrands-min50.jpg" 
                    width="95%" height="100%" alt="">
                </div>
                <div class="col-6">
                    <img src="https://product.koovs.com/home-Brand-Web-Uni-yRROcQ.jpg" width="95%" height="100%" alt="">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    <h3 class="px-4"># Shop Top Categories</h3>
                </div>
                <div class="col-1 my-3"></div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/c9995341-7675-4835-ad63-f99988b90bcb1583845228786-111.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/16debe32-a700-4cea-8724-ff2d91f5b5a11583845228429-12.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/da1bfb5e-6017-4dd5-8f71-568f2693fc731583845228670-22.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/4/16/5919ab50-6d27-4467-98b9-d69628b233621587023737170-6.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/34f5243e-1299-485b-8eef-e660300dc5431583845228469-13.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
                <div class="col-1 my-3"></div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/78868468-aec4-4731-9ae2-3e96e88728941583845228749-44.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/4a7f41f4-aaf2-4aec-8e9f-fc785f87cf491583845228707-33.jpg"
                         alt="img" width="100%" height="260px">
                    </a>
                </div>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-12 py-3 px-4">
                    <h3># Budget Shopping</h3>
                </div>
                <div class="col-12 pl-5 ml-3">
                    <a href="#"><img src="https://cdn.shopclues.com/images/banners/budgetpricepoint_desktop_summer_01.jpg" 
                        alt="" width="19%"></a>
                    <a href="#"><img src="https://cdn.shopclues.com/images/banners/budgetpricepoint_desktop_summer_02.jpg" 
                        alt="" width="19%"></a>
                    <a href="#"><img src="https://cdn.shopclues.com/images/banners/budgetpricepoint_desktop_summer_03.jpg" 
                        alt="" width="19%"></a>
                    <a href="#"><img src="https://cdn.shopclues.com/images/banners/budgetpricepoint_desktop_summer_04.jpg" 
                        alt="" width="19%"></a>
                    <a href="#"><img src="https://cdn.shopclues.com/images/banners/budgetpricepoint_desktop_summer_05.jpg" 
                        alt="" width="19%"></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="px-3"># Shop Top Brands</h3>
                </div>
                <div class="col-1 my-3"></div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/636a049f-000c-45d0-a134-59edd362eecd1583834010057-ss20-brandgrid-Anouk.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/52d9f242-6947-4405-8b85-9b780b5954ca1583834010537-ss20-brandgrid-W.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/4ff65a02-c4b6-4926-aba3-22762c71c22f1583833833895-ss20-brandgrid-UCB.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/e7d02366-8ac9-4dcc-bb2f-56cd5ecc44fc1583833833772-ss20-brandgrid-ROADSTER.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/2225e9a6-b864-44e5-b0a8-077f346cdc731583834010253-ss20-brandgrid-Mango.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-1 my-3"></div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/c567e162-7a00-4971-adb5-d8d8a9703cd91583833833729-ss20-brandgrid-nike.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/ba0df4b7-e758-48ab-bb75-ed463345b3331583834010501-ss20-brandgrid-Veromoda.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/2b134fb8-877e-4268-a9be-027de7f8441a1583833833524-ss20-brandgrid-INVICTUS.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
                <div class="col-2 my-3">
                    <a href="#">
                        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/3/10/ed012846-271a-424e-8f94-d0280ac1bb951583833833692-ss20-brandgrid-MnH.jpg"
                            alt="img" width="100%" height="300px">
                    </a>
                </div>
            </div>
            <div class="col-1 my-3"></div>
        </div>
<%- include("./includes/end.ejs") %>