<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="./css/bag.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 mt-5">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 ">
                            <h6>My Orders </h6>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h6>ORDER ID - #5es2eqwe3rfsdf</h6>
                                    <p>Dated : 23/05/2020</p>
                                    <p>Total Amount - Rs. 56241</p>
                                    <button class="btn">INVOICE</button>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h6>ORDER ID - #5es2eqwe3rfsdf</h6>
                                    <p>Dated : 23/05/2020</p>
                                    <p>Total Amount - Rs. 56241</p>
                                    <button class="btn">INVOICE</button>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h6>ORDER ID - #5es2eqwe3rfsdf</h6>
                                    <p>Dated : 23/05/2020</p>
                                    <p>Total Amount - Rs. 56241</p>
                                    <button class="btn">INVOICE</button>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <hr>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include("./includes/end.ejs") %>