
</head>
<body>
    <!-- header -->
    <header class="m-header fixed-top">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md fixed-top m-navbar">

            <a href="/shop" class="navbar-brand m-brand" ><img src="/images/newLogo.jpg" width="50px" height="35px"></a>
            <button type="button" class="navbar-toggler bg-danger" data-toggle="collapse" data-target="#nv" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="nv">
                <ul class="navbar-nav text-dark m-nav-ul">
                    <li class="nav-item dropdown">
                        <a href="/shop/men" class="nav-link dropdown-btn px-4">MEN</a>
                        <div class="dropdown-content container-fluid" >
                            <div class="row justify-content-between">
                                <div class="d-aul col-4">
                                    <a href="/shop/men/top-wear">Top Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/men/tShirt">T-Shirt</a></li>
                                        <li><a href="/shop/men/shirt">Shirt</a></li>
                                        <li><a href="/shop/men/sweaters">Sweaters</a></li>
                                        <li><a href="/shop/men/jackets">Jackets</a></li>
                                        <li><a href="/shop/men/sweatShirts">Sweat-Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/shop/men/bottom-wear">Bottom Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/men/jeans">Jeans</a></li>
                                        <li><a href="/shop/men/trousers">Trousers</a></li>
                                        <li><a href="/shop/men/shorts">Shorts</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/shop/men/footwear">FootWear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/men/casualShoes">Casual Shoes</a></li>
                                        <li><a href="/shop/men/sports">Sports</a></li>
                                        <li><a href="/shop/men/formals">Formals</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                            
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/shop/women" class="nav-link dropdown-btn px-4">WOMEN</a>
                        <div class="dropdown-content container">
                            <div class="row">
                                <div class="d-aul col-4">
                                    <a href="/shop/women/western">Western</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/women/tops-shirt-tShirt">Tops/Shirt/T-Shirt</a></li>
                                        <li><a href="/shop/women/jeans">Jeans</a></li>
                                        <li><a href="/shop/women/jackets-coats">Jackets/Coats</a></li>
                                        <li><a href="/shop/women/shrugs">Shrugs</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/shop/women/indian">Indian</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/women/kurtis">Kurtis</a></li>
                                        <li><a href="/shop/women/lehanga">Lehenga</a></li>
                                        <li><a href="/shop/women/saree">Saree</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/shop/women/footWear">Foot Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/women/casuals">Casuals</a></li>
                                        <li><a href="/shop/women/heels">Heels</a></li>
                                        <li><a href="/shop/women/boots">Boots</a></li>
                                        <li><a href="/shop/women/flats">Flats</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a href="/shop/kids" class="nav-link dropdown-btn px-4">KIDS</a>
                        <div class="dropdown-content container" >
                            <div class="row justify-content-between" >
                                <div class="d-aul col-4">
                                    <a href="/shop/kids/boysClothing">Boys Clothing</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/kids/tShirts">T-Shirts</a></li>
                                        <li><a href="/shop/kids/shirts">Shirts</a></li>
                                        <li><a href="/shop/kids/shorts">Shorts</a></li>
                                        <li><a href="/shop/kids/jeans">Jeans</a></li>
                                        <li><a href="/shop/kids/jackets">Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/shop/kids/boysFootwear">Boys Footwear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/kids/casuals">Casuals</a></li>
                                        <li><a href="/shop/kids/sports">Sports</a></li>
                                        <li><a href="/shop/kids/sandals">Sandals</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="#/shop/kids/girlsClothing" >Girls Clothing</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/kids/tops">Tops</a></li>
                                        <li><a href="/shop/kidstShirt/">T-shirts</a></li>
                                        <li><a href="/shop/kids/jeans">Jeans</a></li>
                                        <li><a href="/shop/kids/caparies">Capris</a></li>
                                        <li><a href="/shop/kids/jackets">Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/shop/kids/girlsFootwear">Girls Footwear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/shop/kids/casuals">Casuals</a></li>
                                        <li><a href="/shop/kids/heels">Heels</a></li>
                                        <li><a href="/shop/kids/flipFlops">Flip-Flops</a></li>
                                        <li><a href="/shop/kids/flats">Flats</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                <form action="#" method="post" class="m-nav-form form-inline ml-4 mb-2">
                    <button type="submit" class="btn text-muted m-nav-form-btn"><i class="fa fa-search text-muted"></i></button>
                    <input class="m-nav-input " type="text" name="search" placeholder="Search for products, brands and more">
                </form>
                <div>
            

                <ul class="navbar-nav text-dark mr-5">
                    <li class="nav-item mx-2 dropdownPF px-3 " >
                        <a href="#" class="m-nav-link dropdown-btnPF">
                            <img src="/images/profile.png" alt="img" width="15px" height="18px"> <br>
                            Profile
                        </a>
                        <div class="dropdown-contentPF" style="width: 300px;">
                            <% if (isAuth) { %>
                                <p class="m-username">Hi, <span style="font-weight: 500;"><%= userName %></span></p>
                                <a href="/auth/logout">Logout</a>
                            <% } else { %>
                                <a href="/auth/login">Login</a>
                                <span>/</span>
                                <a href="/auth/signUp">Sign Up</a> <br>
                            <% } %>
                            
                            <ul class="dc-ul" >
                                <li><a href="/user/orders">Orders</a></li>
                                <li><a href="/user/wishlist">Wishlist</a></li>
                                <li><a href="/user/bag">Bag</a></li>
                                <li><a href="/user/gitfCards">Gift Cards</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="/user/wishlist" class="m-nav-link">
                            <img src="/images/wishlist.png" alt="img" width="15px" height="18px"> <br>
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="/user/bag" class="m-nav-link">
                            <img src="/images/bag.png" alt="img" width="15px" height="18px"> <br>
                            Bag
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
    </header>
    <!-- end of header -->