
</head>
<body>
    <!-- header -->
    <header class="m-header fixed-top">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md fixed-top m-navbar">

            <a href="/shop" class="navbar-brand m-brand" ><img src="/images/newLogo.jpg" width="50px" height="35px"></a>
            <button type="button" class="navbar-toggler bg-danger" data-toggle="collapse" data-target="#nv" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="nv">
                <ul class="navbar-nav text-dark m-nav-ul">
                    <li class="nav-item dropdown">
                        <a href="/shop/men" class="nav-link dropdown-btn px-4">MEN</a>
                        <div class="dropdown-content container-fluid" >
                            <div class="row justify-content-between">
                                <div class="d-aul col-4">
                                    <a href="/men-topwear">Top Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/men-tshirts">T-Shirt</a></li>
                                        <li><a href="/men-shirts">Shirt</a></li>
                                        <li><a href="/men-sweaters">Sweaters</a></li>
                                        <li><a href="/men-jackets">Jackets</a></li>
                                        <li><a href="/men-sweatshirts">Sweat-Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/men-bottomwear">Bottom Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/men-jeans">Jeans</a></li>
                                        <li><a href="/men-trousers">Trousers</a></li>
                                        <li><a href="/men-shorts">Shorts</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/men-footwear">FootWear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/men-casual-shoes">Casual Shoes</a></li>
                                        <li><a href="/men-sports">Sports</a></li>
                                        <li><a href="/men-formals">Formals</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                            
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/shop/women" class="nav-link dropdown-btn px-4">WOMEN</a>
                        <div class="dropdown-content container">
                            <div class="row">
                                <div class="d-aul col-4">
                                    <a href="/women-western">Western</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/women-tops">Tops/Shirt/T-Shirt</a></li>
                                        <li><a href="/women-jeans">Jeans</a></li>
                                        <li><a href="/women-jackets-coats">Jackets/Coats</a></li>
                                        <li><a href="/women-shrugs">Shrugs</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/women-indian">Indian</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/women-kurtis">Kurtis</a></li>
                                        <li><a href="/women-lehengas">Lehenga</a></li>
                                        <li><a href="/women-sarees">Saree</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/women-footwear">Foot Wear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/women-casuals">Casuals</a></li>
                                        <li><a href="/women-heels">Heels</a></li>
                                        <li><a href="/women-boots">Boots</a></li>
                                        <li><a href="/women-flats">Flats</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a href="/shop/kids" class="nav-link dropdown-btn px-4">KIDS</a>
                        <div class="dropdown-content container" >
                            <div class="row justify-content-between" >
                                <div class="d-aul col-4">
                                    <a href="/kids-boysclothing">Boys Clothing</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/boys-tshirts">T-Shirts</a></li>
                                        <li><a href="/boys-shirts">Shirts</a></li>
                                        <li><a href="/boys-shorts">Shorts</a></li>
                                        <li><a href="/boys-jeans">Jeans</a></li>
                                        <li><a href="/boys-jackets">Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/kids-boysfootwear">Boys Footwear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/boys-casuals">Casuals</a></li>
                                        <li><a href="/boys-sports">Sports</a></li>
                                        <li><a href="/boys-sandals">Sandals</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/kids-girlsclothing" >Girls Clothing</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/girls-tops">Tops</a></li>
                                        <li><a href="/girls-shirts/">T-shirts</a></li>
                                        <li><a href="/girls-jeans">Jeans</a></li>
                                        <li><a href="/girls-capris">Capris</a></li>
                                        <li><a href="/girls-jackets">Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="d-aul col-4">
                                    <a href="/kids-girlsfootwear">Girls Footwear</a>
                                    <ul class="dc-ul" >
                                        <li><a href="/girls-casuals">Casuals</a></li>
                                        <li><a href="/girls-heels">Heels</a></li>
                                        <li><a href="/girls-flipFlops">Flip-Flops</a></li>
                                        <li><a href="/girls-flats">Flats</a></li>
                                    </ul>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                <form action="/shop" method="POST" class="m-nav-form form-inline ml-4 mb-2">
                    <button type="submit" class="btn text-muted m-nav-form-btn"><i class="fa fa-search text-muted"></i></button>
                    <input class="m-nav-input " type="text" name="search" placeholder="Search for products, brands and more">
                </form>
                <div>
            

                <ul class="navbar-nav text-dark mr-5">
                    <li class="nav-item mx-2 dropdownPF px-3 " >
                        <a href="#" class="m-nav-link dropdown-btnPF">
                            <img src="/images/profile.png" alt="img" width="15px" height="18px"> <br>
                            Profile
                        </a>
                        <div class="dropdown-contentPF" style="width: 300px;">
                            <% if (isAuth) { %> 
                                <p class="m-username">Hi, <span style="font-weight: 500;"><%= userName %></span></p>
                                <a href="/auth/logout">Logout</a>
                            <% } else { %>
                                <a href="/auth/login">Login</a>
                                <span>/</span>
                                <a href="/auth/signUp">Sign Up</a> <br>
                            <% } %>
                            
                            <ul class="dc-ul" >
                                <li><a href="/user/orders">Orders</a></li>
                                <li><a href="/user/wishlist">Wishlist</a></li>
                                <li><a href="/user/bag">Bag</a></li>
                                <li><a href="/user/gitfCards">Gift Cards</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="/user/wishlist" class="m-nav-link">
                            <img src="/images/wishlist.png" alt="img" width="15px" height="18px"> <br>
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item mx-2" >
                        <a href="/user/bag" class="m-nav-link">
                            <img src="/images/bag.png" alt="img" width="15px" height="18px"> <br>
                            Bag
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
    </header>
    <!-- end of header -->