<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/css/bag.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        <div class="container">
            <div class="display-4">Confirmed Requests</div>
            <hr>
            <div class="row pt-5">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-3">
                            <img class="m-img" src="https://lp2.hm.com/hmgoepprod?set=quality[79],source[/b3/49/b349d9e57192a24357906baa2ac8d29ef255eb98.jpg],origin[dam],category[men_tshirtstanks_shortsleeve],type[DESCRIPTIVESTILLLIFE],res[m],hmver[1]&call=url[file:/product/main]"
                             width="100%" height="210px" alt="img">
                        </div>
                        <div class="col-9 m-style">
                            <div class="ml-4 pt-4 pl-5">
                                <h5>HANCOCK</h5>
                                <p>Men Black SlimFit Tshirt</p>
                                <button class="btn" disabled> Size : 40</button>
                                <button class="btn" disabled> Qty : 2</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn m-btn-v" disabled>Status : Confirmed </button>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <img class="m-img" src="https://lp2.hm.com/hmgoepprod?set=quality[79],source[/b3/49/b349d9e57192a24357906baa2ac8d29ef255eb98.jpg],origin[dam],category[men_tshirtstanks_shortsleeve],type[DESCRIPTIVESTILLLIFE],res[m],hmver[1]&call=url[file:/product/main]"
                             width="100%" height="210px" alt="img">
                        </div>
                        <div class="col-9 m-style">
                            <div class="ml-4 pt-4 pl-5">
                                <h5>HANCOCK</h5>
                                <p>Men Black SlimFit Tshirt</p>
                                <button class="btn" disabled> Size : 40</button>
                                <button class="btn" disabled> Qty : 2</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn m-btn-v" disabled>Status : Confirmed </button>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include("./includes/end.ejs") %>