        <!-- overlay -->
        <div class="chang"></div>
        <!-- end of overlay -->
    </div>
    <!-- end of main div -->
    <footer class="m-ftr">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-2">
                    
                </div>
                <div class="col-2">
                    <h6 class="m-head">UTILITIES</h6>
                    <a href="/m-user/add-product" class="m-link" >Add Product</a>
                    <a href="/m-user/product-status" class="m-link" >Product Status</a>
                    <a href="/m-user/new-orders" class="m-link" >New Orders</a>
                    <a href="/m-user/history" class="m-link" >Order History</a>
                </div>
                <div class="col-2">
                    <h6 class="m-head">CORPORATE INFO</h6>
                    <a href="/about" class="m-link" >About theHanger</a>
                    <a href="/idea" class="m-link" >Idea Behind</a>
                </div>
                <div class="col-2">
                    <h6 class="m-head">HELP</h6>
                    <a href="/customer-service" class="m-link" >Customer Service</a>
                    <a href="/my-account" class="m-link" >My Account</a>
                    <a href="/contact" class="m-link" >Contact</a>
                    <a href="/find-store" class="m-link" >Find a Store</a>
                    <a href="/legal-and-privacy" class="m-link" >Legal & Privacy</a>
                </div>
                <div class="col-2">
                    <h6 class="m-head">LOGIN / SIGN-UP</h6>
                    <% if (isAuth) { %>
                        <a href="/auth/logout" class="m-link" >Logout</a>
                    <% } else { %>
                        <a href="/auth/merchant-login" class="m-link" >Login</a>
                        <a href="/auth/merchant-signUp" class="m-link" >Sign Up</a>
                    <% } %>
                </div>
                <div class="col-2">

                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center;" >
                    <a href="#" class="m-icon "><i class="fa fa-facebook-square fa-lg"></i></a>
                    <a href="#" class="m-icon "><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#" class="m-icon "><i class="fa fa-instagram fa-lg"></i></a>
                    <a href="#" class="m-icon "><i class="fa fa-youtube-play fa-lg"></i></a>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row mt-5 mb-2">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <p>The content of this site is copyright-protected and is the property of
                         The-Hanger. The-Hanger's business concept is to offer fashion
                          and quality at the best price</p>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <img src="/images/zaraLogo.jpg" height="60px" width="90px" alt="">
                </div>
                <div class="col-12 mt-3">
                    <p>INDIA | Rs.</p>
                </div>
            </div>
        </div>
    </footer>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</body>
</html>