<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="./css/addProduct.css">
<link rel="stylesheet" href="./css/footer.css">

<%- include("../includes/nav.ejs") %>

<div class="container-fluid pt-4">
    <div class="row  m-m-login">
        <div class="col-4">
            
        </div>
        <div class="col-4 m-d-login mt-4" style="padding:0px">
            <!-- form starts -->
            <form action="/add-product" method="POST" id="adp" class="mt-4 p-5 text-center">

                <!-- tab1 -->
                    <div class="m-tab form-group">
                        <h3 class="my-4 pb-4">Main Category of clothing : </h3>
                        <input type="radio" class="m-inp-ch" name="cat1" id="men" value="men" >
                        <label for="men">MEN</label> <br>
                        <input type="radio" class="m-inp-ch" name="cat1" id="women" value="women" >
                        <label for="women">WOMEN</label> <br>
                        <input type="radio" class="m-inp-ch" name="cat1" id="kids" value="kids" >
                        <label for="kids">KIDS</label>
                    </div>
                <!-- end of tab1 -->
                <!-- tab2 -->
                    <div class="m-tab form-group ">
                        <div class=" m-men-fade">
                            <h3>Men's Sub-Category : </h3> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="menstop" value="Mtop" >
                            <label for="menstop">Top Wear</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="mensbottom" value="Mbottom" >
                            <label for="mensbottom">Bottom Wear</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="mensfoot" value="Mfoot" >
                            <label for="mensfoot">Foot Wear</label>
                            </div>
                        <div class="m-women-fade">
                            <h3>Women's Sub-Category : </h3> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="womenswestern" value="Wwestern" >
                            <label for="womenswestern">Western</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="womensindian" value="Windian" >
                            <label for="womensindian">Indian</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="womensfoot" value="Wfoot" >
                            <label for="womensfoot">Foot Wear</label>
                        </div>
                        <div class="m-kids-fade">
                            <h3>Kids's Sub-Category : </h3> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="kidsbc" value="Kboyc" >
                            <label for="kidsbc">Boy's Clothing</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="kidsbf" value="Kboyf" >
                            <label for="kidsbf">Boy's Footwear</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="kidsgc" value="Kgirlc" >
                            <label for="kidsgc">Girl's Clothing</label> <br>
                            <input type="radio" class="m-inp-ch" name="cat2" id="kidsgf" value="Kgirlf" >
                            <label for="kidsgf">Girl's Footwear</label> <br>
                        </div>
                    </div>
                <!-- end of tab2 -->
                <!-- tab3 -->
                    <div class="m-tab form-group ">
                        <!-- men SUBS -->
                        <div class="m-fade m-men-one-fade">
                            <span>Men's Top Wear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MTshirt" >Shirt </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MTtshirt" >T-Shirt </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MTsweater" >Sweaters </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MTjacket" >Jackets </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MTsweatshirt" >SweatShirts </p>
                        </div>
                        <div class="m-fade m-men-two-fade">
                            <span>Men's Bottom Wear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MBjeans" >Jeans </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MBtrouser" >Trousers </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MBshort" >Shorts </p>
                        </div>
                        <div class="m-fade m-men-three-fade">
                            <span>Men's Foot Wear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MFcasual" >Casuals </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MFsport" >Sports </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="MFformal" >Formals </p>
                        </div>
                        <!-- men SUBS -->
                        <!-- women SUBS -->
                        <div class="m-fade m-women-one-fade">
                            <span>Women's Western Wear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WWtst" >Tops/Shirt/T-Shirt </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WWjeans" >Jeans </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WWjc" >Jackets/Coats </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WWshrug" >Shrugs </p>
                        </div>
                        <div class="m-fade m-women-two-fade">
                            <span>Women's Indian Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WIkurtis" >Kurtis </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WIlehanga" >Lehanga </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WIsaree" >Saree </p>
                        </div>
                        <div class="m-fade m-women-three-fade">
                            <span>Women's Foot Wear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WFcasuals" >Casuals </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WFheel" >Heels </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WFboot" >Boots </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="WFflat" >Flats </p>
                        </div>
                        <!-- women SUBS -->
                        <!-- kids SUBS -->
                        <div class="m-fade m-kids-one-fade">
                            <span>Boy's Clothing Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBCtshirt" >T-Shirt </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBCtshirt" >Shirt </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBCshort" >Shorts </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBCjeans" >Jeans </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBCjackets" >Jackets </p>
                        </div>
                        <div class="m-fade m-kids-two-fade">
                            <span>Boy's Footwear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBFcasual" >Casuals </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBFsport" >Sports </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KBFsandal" >Sandals </p>
                        </div>
                        <div class="m-fade m-kids-three-fade">
                            <span>Girl's Clothing Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGCtop" >Tops </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGCtshirt" >T-Shirt </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGCjeans" >Jeans </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGCcaparies" >Caparies </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGCjackets" >Jackets </p>
                        </div>
                        <div class="m-fade m-kids-four-fade">
                            <span>Girl's Footwear Sub-Category : </span> <br>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGFcasual" >Casuals </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGFheel" >Heels </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGFff" >Flip-Flops </p>
                            <p><input type="radio" class="m-inp-ch" name="cat3" id="" value="KGFflat" >Flats </p>
                        </div>
                        <!-- kids SUBS -->
                    </div>
                <!-- end of tab3 -->
                <!-- tab4 -->
                    <div class="m-tab">
                        <div class="form-group">
                            <span>Title : </span>
                            <input type="text" name="title" class="m-inp">
                        </div>
                        <div class="form-group">
                            <span>Brand : </span>
                            <input type="text" name="brand" class="m-inp">
                        </div>
                        <div class="form-group">
                            <span style="margin-right: 12px;">sizes : </span>
                            <span class="m-size"><input id="c38" type="checkbox" name="size38" value="38">38</span>
                            <span class="m-size"><input id="c40" type="checkbox" name="size40" value="40">40</span>
                            <span class="m-size"><input id="c42" type="checkbox" name="size42" value="42">42</span>
                            <span class="m-size"><input id="c44" type="checkbox" name="size44" value="44">44</span> <br>
                            <span>Quantity : </span>
                            <input type="text" id="c38q" disabled name="quan38" class="m-inp-ch" placeholder="0">
                            <input type="text" id="c40q" disabled name="quan40" class="m-inp-ch" placeholder="0">
                            <input type="text" id="c42q" disabled name="quan42" class="m-inp-ch" placeholder="0">
                            <input type="text" id="c44q" disabled name="quan44" class="m-inp-ch" placeholder="0">
                        </div>
                        <div class="form-group">
                            <span>Description</span>
                            <input type="text" name="desc" class="m-inp">
                        </div>
                        <div class="form-group">
                            <span>Image-url</span>
                            <input type="text" name="imageUrl" class="m-inp">
                        </div>
                        <div class="form-group">
                            <span>Price : </span>
                            <input type="text" name="price" class="m-inp">
                        </div>
                    </div>
                <!-- end of tab4 -->
                <!-- prev & next buttons -->
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>
                <!-- end of prev & next buttons -->
                <!-- step indicator -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="m-step"></span>
                    <span class="m-step"></span>
                    <span class="m-step"></span>
                    <span class="m-step"></span>
                </div>
                <!-- end of step indicator -->
              </form>
              <!-- end of form -->
        </div>
        <div class="col-4">
            
        </div>
    </div>
</div>
<%- include("../includes/end.ejs") %>
    <script src="/js/addProducts.js"></script>
</body>
</html>